@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    background-color: transparent;
}

@import "./index/nav";
@import "./index/header";
@import "./index/content";
@import "./index/footer";