@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    background-color: transparent;
}

@import "./index/_nav";
@import "./index/_header";
@import "./index/_content";
@import "./index/_footer";