@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    background-color: transparent;
}

@import "./index/_nav";
@import "./list/lheader";
@import "./list/lcontent";
@import "./index/footer";