$cl:#404040;
.detail {
    width: 1190px;
    // height: 630px;
    margin: 20px auto;
    color: $cl;
    .dr {
        width: 990px;
        height: 630px;
        .wrap {
            float: left;
            width: 460px;
            position: relative;
            // margin-left: -100%;
            .spic {
                width: 418px;
                height: 418px;
                border: 1px solid rgba(0, 0, 0, .05);
                margin: 20px auto 0;
                float: left;
                // background-color: blue;
                img {
                    display: block;
                    width: 418px;
                    height: 418px;
                    border: none;
                }
                .sf {
                    width: 50px;
                    height: 50px;
                    // background: orange;
                    border: 1px solid #ccc;
                    opacity: 0.3;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    visibility: hidden;
                }
            }
            .bf {
                width: 418px;
                height: 418px;
                border: 1px solid rgba(0, 0, 0, .05);
                overflow: hidden;
                position: absolute;
                left: 422px;
                margin-top: 20px;
                visibility: hidden;
                float: left;
                background-color: rgba(255, 255, 255, 0.979);
                z-index: 100;
                .bpic {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 800px;
                    height: 800px;
                }
            }
            .ulist {
                position: absolute;
                left: 0px;
                top: 460px;
                width: 420px;
                height: 56px;
                // overflow: hidden;
                // background-color: chocolate;
                .list {
                    float: left;
                    margin-left: 18px;
                    width: 386px;
                    height: 56px;
                    position: relative;
                    overflow: hidden;
                    .ul3 {
                        list-style: none;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 56px;
                        .li3 {
                            float: left;
                            width: 56px;
                            height: 56px;
                            padding-right: 8px;
                            // background-color: purple;
                        }
                        .li3>img {
                            width: 52px;
                            height: 52px;
                            border: 1px solid #ccc;
                            background-color: #ccc;
                        }
                    }
                }
            }
            .ulist>a {
                float: left;
                width: 10px;
                height: 54px;
                border: 1px solid #ccc;
                text-decoration: none;
                line-height: 56px;
                text-align: center;
                background: #fff;
            }
            .ulist .left {
                position: absolute;
                left: 0px;
                top: 0px;
                color: #fff;
            }
            .ulist .right {
                position: absolute;
                right: 0px;
                top: 0px;
                color: #333;
            }
            .p9 {
                position: absolute;
                top: 550px;
                left: 0px;
                color: #999;
                width: 380px;
                height: 19px;
                padding-right: 10px;
                padding-left: 10px;
                .s {
                    font-size: 12px;
                    float: left;
                }
                .s1 {
                    float: right;
                }
            }
        }
        .goods {
            float: left;
            overflow: hidden;
            margin-top: 20px;
            .p-name {
                display: block;
                width: 350px;
                height: 50px;
                margin-left: 50px;
            }
            .p-price {
                margin-left: 50px;
                margin-top: 10px;
                width: 300px;
                height: 50px;
                background: rgba(183, 183, 183, 0.4);
                line-height: 50px;
                strong {
                    color: red;
                }
            }
            .p-btn {
                margin-top: 20px;
                position: relative;
            }
            .p-btn input {
                display: inline-block;
                width: 50px;
                height: 46px;
                font-size: 20px;
                color: black;
                margin-left: 50px;
                border: 1px solid gray;
            }
            .p-btn .js {
                display: inline-block;
                .sp1 {
                    display: block;
                    cursor: pointer;
                    height: 15px;
                    width: 20px;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    position: absolute;
                    top: 5px;
                }
                .sp2 {
                    display: block;
                    cursor: pointer;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    height: 15px;
                    width: 20px;
                    position: absolute;
                    top: 30px;
                }
            }
            .gwc {
                display: inline-block;
                width: 130px;
                height: 50px;
                background-color: grey;
                font-size: 16px;
                text-decoration: none;
                color: white;
                line-height: 50px;
                text-align: center;
                margin-left: 49px;
                margin-top: 20px;
            }
            .c {
                background-color: red;
                margin-left: 30px;
            }
        }
    }
}