$zi:12px;
$color2:#999;
$bg1:#fff;
@mixin hpadding($top, $right) {
    padding-top: $top;
    padding-right: $right;
}

@mixin liall() {
    width: 233px;
    height: 299px;
    float: left;
    margin-left: 13px;
    border-bottom: 15px solid #f5f5f5;
    background-color: #fff;
    list-style: none;
    border: 1px solid #fff;
}

@mixin liallp() {
    width: 170px;
    height: 170px;
    float: left;
    margin-left: 13px;
    border-bottom: 15px solid #f5f5f5;
    background-color: #fff;
    list-style: none;
}

@mixin aall() {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

@mixin sl() {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.content {
    width: 100%;
    background-color: $bg1;
    color: $color2;
    font-size: $zi;
    position: relative;
}

.content>.mainnav {
    width: 100%;
    height: 35.5px;
    border-bottom: 1.5px solid #FF0036;
    background-color: $bg1;
    .mainnavc {
        width: 1320px;
        margin: 0 auto;
        padding-right: 30px;
        p {
            display: inline-block;
            width: 1030px;
            margin-left: 246px;
            line-height: 36px;
            a {
                @include aall;
                display: block;
                float: left;
                height: 36px;
                font-size: 16px;
                padding: 0 8px;
                .p1 {
                    display: block;
                    width: 100px;
                    height: 30px;
                    margin-top: 3px;
                }
            }
        }
    }
}

.content>.banner {
    height: 500px;
    width: 100%;
    background-color: $bg1;
    position: relative;
    .bannerc {
        margin: auto;
        width: 1230px;
        @include hpadding(0px, 30px);
        .caidan {
            width: 200px;
            height: 532px;
            position: absolute;
            margin-top: -32px;
            list-style: none;
            line-height: 36px;
            font-size: #fff;
            z-index: 100;
            background-color: rgba(0, 0, 0, .55);
            li {
                position: relative;
                height: 31.2px;
                line-height: 31.2px;
                color: #fff;
                font-size: 14px;
                a {
                    @include aall;
                    color: #fff;
                }
            }
            li:first-child {
                background-color: #FF0036;
            }
            .active {
                background-color: #fff;
            }
            .g1:hover a {
                color: rgb(248, 170, 183);
            }
            .g2:hover a {
                color: rgb(65, 83, 247);
            }
            .g14:hover a {
                color: rgb(93, 241, 93);
            }
            .g3:hover a {
                color: rgb(240, 214, 66);
            }
            .g11:hover a {
                color: rgb(240, 214, 66);
            }
            .g4:hover a {
                color: rgb(156, 238, 101);
            }
            .g16:hover a {
                color: rgb(156, 238, 101);
            }
            .g5:hover a {
                color: rgb(240, 63, 131);
            }
            .g6:hover a {
                color: rgb(101, 198, 236);
            }
            .g12:hover a {
                color: rgb(101, 198, 236);
            }
            .g7:hover a {
                color: rgb(238, 120, 165);
            }
            .g8.g13:hover a {
                color: rgb(124, 218, 61);
            }
            .g13:hover a {
                color: rgb(124, 218, 61);
            }
            .g9:hover a {
                color: rgb(240, 179, 66);
            }
            .g10:hover a {
                color: rgb(65, 235, 170);
            }
            .g15:hover a {
                color: rgb(65, 235, 170);
            }
        }
        .cartlist {
            z-index: 100;
            // width: 782px;
            height: 500px;
            position: absolute;
            left: 0px;
            top: 0px;
            // float: left;
            // background-color: #fff;
            .item {
                height: 500px;
                width: 852px;
                position: absolute;
                left: 318px;
                display: none;
                background-color: #fff;
                a {
                    display: block;
                    margin-left: 30px;
                    margin-top: 30px;
                    font-size: 14px;
                    font-weight: 700px;
                    text-decoration: none;
                    color: #333;
                }
            }
        }
        .lunbo {
            height: 500px;
            width: 1130px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            // list-style: none;
            .ul0 {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 10000px;
                li {
                    float: left;
                    width: 1130px;
                }
            }
            .slider {
                z-index: 100;
                position: absolute;
                bottom: 20px;
                left: 40%;
                .slk {
                    display: inline-block;
                    width: 25px;
                    height: 5px;
                    margin-left: 5px;
                    background-color: rgba(165, 72, 72, .3);
                }
                .active {
                    background-color: #fff;
                }
            }
            .right,
            .left {
                color: #fff;
                position: absolute;
                text-decoration: none;
                top: 110px;
                display: none;
            }
            .rigth {
                right: 20px;
            }
            .left {
                left: 20px;
            }
        }
    }
}

.content>.brandWall {
    margin: auto;
    width: 1230px;
    height: 370px;
    // background-color: pink;
    @include hpadding(24px, 30px);
    .ul1 {
        background-color: transparent;
        list-style: none;
        li {
            width: 234px;
            height: 370px;
            display: block;
            float: left;
            margin-right: 13px;
            background-color: $bg1;
            position: relative;
            span {
                display: inline-block;
                height: 44px;
                line-height: 54px;
                margin-left: 10px;
                font-size: 18px;
                color: #333;
                padding-top: 9px;
            }
            .sp1 {
                font-size: 14px;
                padding-top: 0px;
            }
            .a3 {
                width: 42px;
                height: 54px;
                position: absolute;
                top: 10px;
                right: 14px;
                display: inline-block;
                background: url(../img/bg5.png) right center no-repeat;
                background-size: 18px 18px;
            }
            .a4 {
                display: block;
                height: 316px;
                img {
                    height: 316px;
                    width: 100%;
                }
            }
        }
    }
}

.content>.newHotBrand {
    width: 1230px;
    margin: 15px auto 0;
    @include hpadding(0, 30px);
    .ul3 {
        height: 370px;
        width: 100%;
        background-color: #f5f5f5;
        list-style: none;
        overflow: hidden;
        li {
            width: 122px;
            height: 108px;
            float: left;
            margin-bottom: 1px;
            margin-right: 1px;
            position: relative;
            .hot {
                margin: 0 auto;
                background-color: #fff;
                line-height: 108px;
                text-align: center;
                .im1 {
                    width: 82%;
                    height: 50px;
                    vertical-align: middle;
                }
            }
            .bh {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, .8);
                opacity: 0;
                span {
                    display: block;
                    color: #fff;
                    height: 50px;
                    line-height: 48px;
                    text-align: center;
                    padding: 0px 5px;
                }
                .sp {
                    color: red;
                }
                &:hover {
                    transition: all .3s ease-out;
                    opacity: .8;
                }
            }
        }
    }
}

.content>.newFloor {
    width: 1230px;
    margin: 20px auto 0;
    @include hpadding(0, 30px);
    .newFloorc {
        margin-top: 20px;
        height: 665px;
        width: 100%;
        .ptitle {
            height: 28px;
            font-size: 18px;
            img {
                width: 214px;
                height: 25px;
            }
        }
        .fneirong {
            width: 100%;
            height: 618px;
            margin-top: 10px;
            overflow: hidden;
            .p2 {
                height: 618px;
                width: 235px;
                float: left;
                position: relative;
                a {
                    display: block;
                }
                .cla {
                    width: 100%;
                    height: 618px;
                }
                .dw {
                    position: absolute;
                    bottom: 20%;
                    width: 200px;
                    height: 64px;
                    background: rgba(0, 0, 0, .6);
                    .tm {
                        display: inline-block;
                        font-size: 18px;
                        width: 36px;
                        line-height: 24px;
                        margin-left: 20px;
                    }
                    .t {
                        display: inline-block;
                        margin-left: 14px;
                    }
                    .ft {
                        display: block;
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                .m3 {
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    width: 32px;
                    height: 32px;
                }
            }
            .p3 {
                width: 995px;
                height: 618px;
                float: left;
                li {
                    @include liall;
                    .i6 {
                        display: block;
                        width: 185px;
                        height: 185px;
                        margin-left: 23px;
                    }
                    p {
                        @include sl;
                        font-size: 14px;
                        color: #333;
                        margin: 8px auto;
                        width: 135px;
                    }
                    .jg {
                        display: block;
                        font-size: 18px;
                        color: #FF0036;
                        margin: 10px auto;
                        line-height: 18px;
                        text-align: center;
                    }
                }
                .g {
                    @include aall;
                }
                // .li1 {
                //     width: 484px;
                //     height: 301px;
                // }
            }
        }
    }
}

.content>.tp {
    height: 90px;
    width: 1230px;
    margin: 10px auto 0;
    @include hpadding(0, 30px);
    overflow: hidden;
    a {
        @include aall;
        img {
            display: block;
            width: 1620px;
            height: 90px;
            margin-left: -165px;
        }
    }
}

.content>.line {
    width: 1230px;
    height: 665px;
    margin: 20px auto 0;
    @include hpadding(0, 30px);
    .newFloorc {
        margin-top: 20px;
        height: 665px;
        width: 100%;
        i {
            display: inline-block;
            width: 5px;
            height: 18px;
            background-color: #000;
            vertical-align: middle;
        }
        .p4 {
            display: inline-block;
            height: 28px;
            font-size: 18px;
            color: #000;
            text-align: center;
            vertical-align: middle;
        }
        .sp5 {
            display: inline-block;
            color: #000;
            font-size: 14px;
        }
        .ptitle {
            height: 28px;
            font-size: 18px;
            img {
                width: 214px;
                height: 25px;
            }
        }
        .fneirong1 {
            width: 100%;
            height: 618px;
            margin-top: 10px;
            overflow: hidden;
            .p21 {
                height: 618px;
                width: 235px;
                float: left;
                position: relative;
                a {
                    display: block;
                }
                .cls {
                    width: 235px;
                    height: 618px;
                }
                .dw {
                    position: absolute;
                    bottom: 20%;
                    width: 200px;
                    height: 64px;
                    background: rgba(0, 0, 0, .6);
                    .tm {
                        display: inline-block;
                        font-size: 18px;
                        width: 36px;
                        line-height: 24px;
                        margin-left: 20px;
                    }
                    .t {
                        display: inline-block;
                        margin-left: 14px;
                    }
                    .ft {
                        display: block;
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                .m3 {
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    width: 32px;
                    height: 32px;
                }
            }
            .p31 {
                width: 995px;
                height: 618px;
                float: left;
                .li7 {
                    @include liall;
                    .i7 {
                        display: block;
                        width: 170px;
                        height: 170px;
                        margin: 40px 33px 42px 32px;
                    }
                    .p5 {
                        @include sl;
                        font-size: 18px;
                        color: #333;
                        width: 220px;
                        margin-left: 25px;
                        margin-top: 20px;
                    }
                    .jg {
                        display: block;
                        font-size: 14px;
                        color: #FF0036;
                        line-height: 18px;
                        margin-left: 25px;
                        margin-top: 5px;
                    }
                }
                .g {
                    @include aall;
                }
                .li7:hover {
                    border: 1px solid #FF0036;
                }
            }
        }
    }
}

.content>.wonderful {
    width: 1230px;
    margin: 30px auto 0;
    background-color: #f5f5f5;
    @include hpadding(0, 30px);
    p {
        height: 43px;
        line-height: 20px;
        font-size: 18px;
        text-align: center;
        color: #666;
        font-weight: 100;
        position: relative;
    }
    ul {
        height: 1998px;
        list-style: none;
        .xuanran {
            width: 235px;
            float: left;
            margin-bottom: 7px;
            margin-right: 12px;
            background-color: #fff;
            a {
                height: 315px;
                width: 100%;
                display: block;
                border: 2px solid #fff;
                margin-right: 7px;
                margin-bottom: 7px;
                @include aall;
                .i6 {
                    display: block;
                    width: 185px;
                    height: 185px;
                    margin-left: 23px;
                    margin-top: 23px;
                }
                p {
                    @include sl;
                    font-size: 14px;
                    color: #333;
                    margin: 8px auto;
                    width: 135px;
                }
                .jg {
                    display: block;
                    font-size: 18px;
                    color: #FF0036;
                    margin: 10px auto;
                    line-height: 18px;
                    text-align: center;
                }
            }
        }
        .xuanran:nth-of-type(5n) {
            margin-right: 0px;
        }
    }
    .end {
        height: 45px;
        width: 80px;
        background: url(../img/end.png) no-repeat;
        margin: 0 auto 10px;
        text-align: center;
    }
}

.content>.louti {
    width: 35px;
    margin-left: -673px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    display: none;
    ul>li {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        color: #fff;
        list-style: none;
        margin-top: 1px;
        text-align: center;
        overflow: hidden;
        a {
            display: block;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .li8 {
        background-color: rgba(0, 0, 0, .6);
    }
    ul>li:first-child {
        background-color: #ff0036;
    }
    ul>li:last-child {
        background-color: rgba(0, 0, 0, .3);
        line-height: 13px;
        padding-top: 8px;
    }
}