* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  background-color: transparent;
}

.nav {
  height: 32px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}

.nav .navcentr {
  margin: 0 auto;
  height: 32px;
  width: 1230px;
  position: relative;
}

.nav .navcentr p {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #999;
  display: inline-block;
}

.nav .navcentr p a {
  padding-left: 20px;
  padding-right: 10px;
  text-decoration: none;
  color: #999;
  cursor: pointer;
}

.nav .navcentr p a + a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #999;
  cursor: pointer;
}

.nav .navcentr .umn {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #999;
  list-style: none;
}

.nav .navcentr li {
  float: left;
  height: 32px;
  position: relative;
}

.nav .navcentr li a {
  display: block;
  padding-left: 10px;
  padding-right: 14px;
  text-decoration: none;
  color: #999;
  cursor: pointer;
  border-right: solid 1px #f2f2f2;
  border-left: solid 1px #f2f2f2;
}

.nav .navcentr .li4 {
  width: 0px;
  height: 14px;
  border-left: 1px solid #e5e5e5;
  margin: 0px 2px 0px 3px;
  position: relative;
  top: 25%;
}

.nav .navcentr .mnb {
  width: 74px;
  padding: 8px 10px;
  position: absolute;
  top: 33px;
  left: 0px;
  background: #fff;
  border: solid #eee;
  border-width: 0 1px 1px;
  font-size: 12px;
  color: #ff0036;
  list-style: none;
  display: none;
  z-index: 9980;
}

.nav .navcentr .mytb:hover .mnb {
  display: block;
}

.header {
  width: 100%;
  height: 130px;
  background-color: #fff;
  position: relative;
}

.header .search {
  width: 625px;
  margin-top: 38px;
  border: 2px solid #FF0036;
  border-right: none;
  position: absolute;
  left: 25%;
}

.header .search input {
  outline: 0;
  border: none;
  height: 26px;
  width: 483px;
  line-height: 26px;
  padding: 5px 3px 5px 5px;
  color: #000;
  font-size: 12px;
  border-radius: 2px 0 0 2px;
  float: left;
}

.header .search .btn {
  float: left;
  width: 132px;
  height: 36px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 5px;
  background-color: #FF0036;
  border: 0px;
}

.content {
  width: 100%;
  background-color: #fff;
  color: #999;
  font-size: 12px;
  position: relative;
}

.content > .mainnav {
  width: 100%;
  height: 35.5px;
  border-bottom: 1.5px solid #FF0036;
  background-color: #fff;
}

.content > .mainnav .mainnavc {
  width: 1320px;
  margin: 0 auto;
  padding-right: 30px;
}

.content > .mainnav .mainnavc p {
  display: inline-block;
  width: 1030px;
  margin-left: 246px;
  line-height: 36px;
}

.content > .mainnav .mainnavc p a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  display: block;
  float: left;
  height: 36px;
  font-size: 16px;
  padding: 0 8px;
}

.content > .mainnav .mainnavc p a .p1 {
  display: block;
  width: 100px;
  height: 30px;
  margin-top: 3px;
}

.content > .banner {
  height: 500px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.content > .banner .bannerc {
  margin: auto;
  width: 1230px;
  padding-top: 0px;
  padding-right: 30px;
}

.content > .banner .bannerc .caidan {
  width: 200px;
  height: 532px;
  position: absolute;
  margin-top: -32px;
  list-style: none;
  line-height: 36px;
  font-size: #fff;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.55);
}

.content > .banner .bannerc .caidan li {
  position: relative;
  height: 31.2px;
  line-height: 31.2px;
  color: #fff;
  font-size: 14px;
}

.content > .banner .bannerc .caidan li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  color: #fff;
}

.content > .banner .bannerc .caidan li:first-child {
  background-color: #FF0036;
}

.content > .banner .bannerc .caidan .active {
  background-color: #fff;
}

.content > .banner .bannerc .caidan .g1:hover a {
  color: #f8aab7;
}

.content > .banner .bannerc .caidan .g2:hover a {
  color: #4153f7;
}

.content > .banner .bannerc .caidan .g14:hover a {
  color: #5df15d;
}

.content > .banner .bannerc .caidan .g3:hover a {
  color: #f0d642;
}

.content > .banner .bannerc .caidan .g11:hover a {
  color: #f0d642;
}

.content > .banner .bannerc .caidan .g4:hover a {
  color: #9cee65;
}

.content > .banner .bannerc .caidan .g16:hover a {
  color: #9cee65;
}

.content > .banner .bannerc .caidan .g5:hover a {
  color: #f03f83;
}

.content > .banner .bannerc .caidan .g6:hover a {
  color: #65c6ec;
}

.content > .banner .bannerc .caidan .g12:hover a {
  color: #65c6ec;
}

.content > .banner .bannerc .caidan .g7:hover a {
  color: #ee78a5;
}

.content > .banner .bannerc .caidan .g8.g13:hover a {
  color: #7cda3d;
}

.content > .banner .bannerc .caidan .g13:hover a {
  color: #7cda3d;
}

.content > .banner .bannerc .caidan .g9:hover a {
  color: #f0b342;
}

.content > .banner .bannerc .caidan .g10:hover a {
  color: #41ebaa;
}

.content > .banner .bannerc .caidan .g15:hover a {
  color: #41ebaa;
}

.content > .banner .bannerc .cartlist {
  z-index: 100;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.content > .banner .bannerc .cartlist .item {
  height: 500px;
  width: 852px;
  position: absolute;
  left: 318px;
  display: none;
  background-color: #fff;
}

.content > .banner .bannerc .cartlist .item a {
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700px;
  text-decoration: none;
  color: #333;
}

.content > .banner .bannerc .lunbo {
  height: 500px;
  width: 1130px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content > .banner .bannerc .lunbo .ul0 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10000px;
}

.content > .banner .bannerc .lunbo .ul0 li {
  float: left;
  width: 1130px;
}

.content > .banner .bannerc .lunbo .slider {
  z-index: 100;
  position: absolute;
  bottom: 20px;
  left: 40%;
}

.content > .banner .bannerc .lunbo .slider .slk {
  display: inline-block;
  width: 25px;
  height: 5px;
  margin-left: 5px;
  background-color: rgba(165, 72, 72, 0.3);
}

.content > .banner .bannerc .lunbo .slider .active {
  background-color: #fff;
}

.content > .banner .bannerc .lunbo .right,
.content > .banner .bannerc .lunbo .left {
  color: #fff;
  position: absolute;
  text-decoration: none;
  top: 110px;
  display: none;
}

.content > .banner .bannerc .lunbo .rigth {
  right: 20px;
}

.content > .banner .bannerc .lunbo .left {
  left: 20px;
}

.content > .brandWall {
  margin: auto;
  width: 1230px;
  height: 370px;
  padding-top: 24px;
  padding-right: 30px;
}

.content > .brandWall .ul1 {
  background-color: transparent;
  list-style: none;
}

.content > .brandWall .ul1 li {
  width: 234px;
  height: 370px;
  display: block;
  float: left;
  margin-right: 13px;
  background-color: #fff;
  position: relative;
}

.content > .brandWall .ul1 li span {
  display: inline-block;
  height: 44px;
  line-height: 54px;
  margin-left: 10px;
  font-size: 18px;
  color: #333;
  padding-top: 9px;
}

.content > .brandWall .ul1 li .sp1 {
  font-size: 14px;
  padding-top: 0px;
}

.content > .brandWall .ul1 li .a3 {
  width: 42px;
  height: 54px;
  position: absolute;
  top: 10px;
  right: 14px;
  display: inline-block;
  background: url(../img/bg5.png) right center no-repeat;
  background-size: 18px 18px;
}

.content > .brandWall .ul1 li .a4 {
  display: block;
  height: 316px;
}

.content > .brandWall .ul1 li .a4 img {
  height: 316px;
  width: 100%;
}

.content > .newHotBrand {
  width: 1230px;
  margin: 15px auto 0;
  padding-top: 0;
  padding-right: 30px;
}

.content > .newHotBrand .ul3 {
  height: 370px;
  width: 100%;
  background-color: #f5f5f5;
  list-style: none;
  overflow: hidden;
}

.content > .newHotBrand .ul3 li {
  width: 122px;
  height: 108px;
  float: left;
  margin-bottom: 1px;
  margin-right: 1px;
  position: relative;
}

.content > .newHotBrand .ul3 li .hot {
  margin: 0 auto;
  background-color: #fff;
  line-height: 108px;
  text-align: center;
}

.content > .newHotBrand .ul3 li .hot .im1 {
  width: 82%;
  height: 50px;
  vertical-align: middle;
}

.content > .newHotBrand .ul3 li .bh {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.content > .newHotBrand .ul3 li .bh span {
  display: block;
  color: #fff;
  height: 50px;
  line-height: 48px;
  text-align: center;
  padding: 0px 5px;
}

.content > .newHotBrand .ul3 li .bh .sp {
  color: red;
}

.content > .newHotBrand .ul3 li .bh:hover {
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: .8;
}

.content > .newFloor {
  width: 1230px;
  margin: 20px auto 0;
  padding-top: 0;
  padding-right: 30px;
}

.content > .newFloor .newFloorc {
  margin-top: 20px;
  height: 665px;
  width: 100%;
}

.content > .newFloor .newFloorc .ptitle {
  height: 28px;
  font-size: 18px;
}

.content > .newFloor .newFloorc .ptitle img {
  width: 214px;
  height: 25px;
}

.content > .newFloor .newFloorc .fneirong {
  width: 100%;
  height: 618px;
  margin-top: 10px;
  overflow: hidden;
}

.content > .newFloor .newFloorc .fneirong .p2 {
  height: 618px;
  width: 235px;
  float: left;
  position: relative;
}

.content > .newFloor .newFloorc .fneirong .p2 a {
  display: block;
}

.content > .newFloor .newFloorc .fneirong .p2 .cla {
  width: 100%;
  height: 618px;
}

.content > .newFloor .newFloorc .fneirong .p2 .dw {
  position: absolute;
  bottom: 20%;
  width: 200px;
  height: 64px;
  background: rgba(0, 0, 0, 0.6);
}

.content > .newFloor .newFloorc .fneirong .p2 .dw .tm {
  display: inline-block;
  font-size: 18px;
  width: 36px;
  line-height: 24px;
  margin-left: 20px;
}

.content > .newFloor .newFloorc .fneirong .p2 .dw .t {
  display: inline-block;
  margin-left: 14px;
}

.content > .newFloor .newFloorc .fneirong .p2 .dw .ft {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.content > .newFloor .newFloorc .fneirong .p2 .m3 {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
}

.content > .newFloor .newFloorc .fneirong .p3 {
  width: 995px;
  height: 618px;
  float: left;
}

.content > .newFloor .newFloorc .fneirong .p3 li {
  width: 233px;
  height: 299px;
  float: left;
  margin-left: 13px;
  border-bottom: 15px solid #f5f5f5;
  background-color: #fff;
  list-style: none;
  border: 1px solid #fff;
}

.content > .newFloor .newFloorc .fneirong .p3 li .i6 {
  display: block;
  width: 185px;
  height: 185px;
  margin-left: 23px;
}

.content > .newFloor .newFloorc .fneirong .p3 li p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  margin: 8px auto;
  width: 135px;
}

.content > .newFloor .newFloorc .fneirong .p3 li .jg {
  display: block;
  font-size: 18px;
  color: #FF0036;
  margin: 10px auto;
  line-height: 18px;
  text-align: center;
}

.content > .newFloor .newFloorc .fneirong .p3 .g {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.content > .tp {
  height: 90px;
  width: 1230px;
  margin: 10px auto 0;
  padding-top: 0;
  padding-right: 30px;
  overflow: hidden;
}

.content > .tp a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.content > .tp a img {
  display: block;
  width: 1620px;
  height: 90px;
  margin-left: -165px;
}

.content > .line {
  width: 1230px;
  height: 665px;
  margin: 20px auto 0;
  padding-top: 0;
  padding-right: 30px;
}

.content > .line .newFloorc {
  margin-top: 20px;
  height: 665px;
  width: 100%;
}

.content > .line .newFloorc i {
  display: inline-block;
  width: 5px;
  height: 18px;
  background-color: #000;
  vertical-align: middle;
}

.content > .line .newFloorc .p4 {
  display: inline-block;
  height: 28px;
  font-size: 18px;
  color: #000;
  text-align: center;
  vertical-align: middle;
}

.content > .line .newFloorc .sp5 {
  display: inline-block;
  color: #000;
  font-size: 14px;
}

.content > .line .newFloorc .ptitle {
  height: 28px;
  font-size: 18px;
}

.content > .line .newFloorc .ptitle img {
  width: 214px;
  height: 25px;
}

.content > .line .newFloorc .fneirong1 {
  width: 100%;
  height: 618px;
  margin-top: 10px;
  overflow: hidden;
}

.content > .line .newFloorc .fneirong1 .p21 {
  height: 618px;
  width: 235px;
  float: left;
  position: relative;
}

.content > .line .newFloorc .fneirong1 .p21 a {
  display: block;
}

.content > .line .newFloorc .fneirong1 .p21 .cls {
  width: 235px;
  height: 618px;
}

.content > .line .newFloorc .fneirong1 .p21 .dw {
  position: absolute;
  bottom: 20%;
  width: 200px;
  height: 64px;
  background: rgba(0, 0, 0, 0.6);
}

.content > .line .newFloorc .fneirong1 .p21 .dw .tm {
  display: inline-block;
  font-size: 18px;
  width: 36px;
  line-height: 24px;
  margin-left: 20px;
}

.content > .line .newFloorc .fneirong1 .p21 .dw .t {
  display: inline-block;
  margin-left: 14px;
}

.content > .line .newFloorc .fneirong1 .p21 .dw .ft {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.content > .line .newFloorc .fneirong1 .p21 .m3 {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
}

.content > .line .newFloorc .fneirong1 .p31 {
  width: 995px;
  height: 618px;
  float: left;
}

.content > .line .newFloorc .fneirong1 .p31 .li7 {
  width: 233px;
  height: 299px;
  float: left;
  margin-left: 13px;
  border-bottom: 15px solid #f5f5f5;
  background-color: #fff;
  list-style: none;
  border: 1px solid #fff;
}

.content > .line .newFloorc .fneirong1 .p31 .li7 .i7 {
  display: block;
  width: 170px;
  height: 170px;
  margin: 40px 33px 42px 32px;
}

.content > .line .newFloorc .fneirong1 .p31 .li7 .p5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 18px;
  color: #333;
  width: 220px;
  margin-left: 25px;
  margin-top: 20px;
}

.content > .line .newFloorc .fneirong1 .p31 .li7 .jg {
  display: block;
  font-size: 14px;
  color: #FF0036;
  line-height: 18px;
  margin-left: 25px;
  margin-top: 5px;
}

.content > .line .newFloorc .fneirong1 .p31 .g {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.content > .line .newFloorc .fneirong1 .p31 .li7:hover {
  border: 1px solid #FF0036;
}

.content > .wonderful {
  width: 1230px;
  margin: 30px auto 0;
  background-color: #f5f5f5;
  padding-top: 0;
  padding-right: 30px;
}

.content > .wonderful p {
  height: 43px;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
  color: #666;
  font-weight: 100;
  position: relative;
}

.content > .wonderful ul {
  height: 1998px;
  list-style: none;
}

.content > .wonderful ul .xuanran {
  width: 235px;
  float: left;
  margin-bottom: 7px;
  margin-right: 12px;
  background-color: #fff;
}

.content > .wonderful ul .xuanran a {
  height: 315px;
  width: 100%;
  display: block;
  border: 2px solid #fff;
  margin-right: 7px;
  margin-bottom: 7px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.content > .wonderful ul .xuanran a .i6 {
  display: block;
  width: 185px;
  height: 185px;
  margin-left: 23px;
  margin-top: 23px;
}

.content > .wonderful ul .xuanran a p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  margin: 8px auto;
  width: 135px;
}

.content > .wonderful ul .xuanran a .jg {
  display: block;
  font-size: 18px;
  color: #FF0036;
  margin: 10px auto;
  line-height: 18px;
  text-align: center;
}

.content > .wonderful ul .xuanran:nth-of-type(5n) {
  margin-right: 0px;
}

.content > .wonderful .end {
  height: 45px;
  width: 80px;
  background: url(../img/end.png) no-repeat;
  margin: 0 auto 10px;
  text-align: center;
}

.content > .louti {
  width: 35px;
  margin-left: -673px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  display: none;
}

.content > .louti ul > li {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #fff;
  list-style: none;
  margin-top: 1px;
  text-align: center;
  overflow: hidden;
}

.content > .louti ul > li a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.content > .louti .li8 {
  background-color: rgba(0, 0, 0, 0.6);
}

.content > .louti ul > li:first-child {
  background-color: #ff0036;
}

.content > .louti ul > li:last-child {
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 13px;
  padding-top: 8px;
}

.footer {
  width: 100%;
  height: 624px;
  border-top: 1px solid #D1D7DC;
  margin: 0px;
  background-color: #fff;
}

.footer .tmall-ensure {
  width: 1190px;
  height: 100px;
  background: url(../img/footer1.jpg) no-repeat;
  margin: 25px auto;
  padding: 0px;
  text-align: center;
}

.footer .tmall-ensure a {
  text-decoration: none;
  color: #8b8b8b;
  cursor: pointer;
  display: block;
  height: 100px;
  width: 297px;
}

.footer .desc {
  width: 1190px;
  height: 190px;
  margin: auto;
  border-top: 1px solid #D1D7DC;
  padding-top: 32px;
  list-style: none;
  background: url(../img/bg.png) 45px bottom no-repeat;
  background-size: 68px 25px;
}

.footer .desc li {
  float: left;
  width: 186px;
  padding-left: 52px;
}

.footer .desc li span {
  font-size: 16px;
  color: #646464;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
}

.footer .desc li p {
  text-align: left;
}

.footer .desc li p a {
  text-decoration: none;
  color: #8b8b8b;
  cursor: pointer;
  display: block;
  text-align: left;
  width: 100px;
  height: 20px;
}

.footer .desc li p .a1 {
  display: block;
  width: 105px;
  height: 105px;
  line-height: 105px;
  text-align: center;
}

.footer .desc li p .a1 img {
  height: 105px;
  width: 105px;
  border: none;
}

.footer .copyright {
  height: 239px;
  border-top: 2px solid #FF0036;
  background-color: #000;
  text-align: left;
}

.footer .copyright p {
  display: block;
  width: 1190px;
  line-height: 25px;
  color: #fff;
  margin: 0 auto;
  padding: 5px 0;
}

.footer .copyright p a {
  text-decoration: none;
  color: #8b8b8b;
  cursor: pointer;
  display: block;
  float: left;
  color: #fff;
  margin-right: 3px;
  text-align: left;
  font-size: 12px;
}

.footer .copyright p span {
  display: inline-block;
  margin-left: 1px;
}

.footer .copyright .footerb {
  width: 1190px;
  margin: 0 auto;
  line-height: 25px;
  color: #a4a4a4;
  font-size: 12px;
}

.footer .copyright .footerb a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #a4a4a4;
}

.footer .copyright .footerb p {
  display: block;
  padding-top: 10px;
}

.footer .copyright .footerb p .a4 {
  margin-right: 10px;
  display: block;
}

.footer .copyright .footerb p img {
  border: none;
  height: 30px;
  width: 30px;
}

.footer .copyright .footerb p .img1 {
  width: 80px;
}
